body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    margin-top: 100px;
    padding:30px;
    background-color: gray;
    display: flex;
    max-width: 300px;
    flex-direction: column;
    gap:10px;
    border-radius: 20px;
}

#output{
    background-color: lightgray;
    padding:5px;
    min-width:100px;
    max-width:300px;
    min-height: 50px;
    border-radius: 10px;
    text-align: end;
    align-items: end;
}
#output #main{
    font-size: 24px;
    align-self: end;
}
#output #history{
    font-size: 12px;
}
.buttons{
    display: flex;
    justify-content: space-evenly;
    gap:10px;

}



.numbers,
.operators{
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(65, 65, 65);
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
}
.numbers{

    max-width: 150px;
    justify-content: end;
}
.operators{
    display: flex;
    flex-direction: column;
    
}

#resets{
    display: flex;
}
#resets button,
#equals{
    font-size: 18px;
    font-weight: 700;
    padding-top: 10px;
    padding-bottom: 10px;
    flex:1;
    border-radius: 10px;
    border-width: 3px;
}



.numbers button{
    background-color: rgb(58, 58, 58);
    width: 50px;
    height: 50px;
    border-radius: 100px;
    color:white;
}

.operators button{
    font-size: 24px;
    background-color: rgb(202, 132, 2);
    width: 50px;
    height: 50px;
    border-radius: 100px;
}